.primerDiv{
    background-color: rgba(0, 0, 0, 0.571);
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.segundoDiv{
    background-color: rgba(0, 0, 0, 0.427);
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
}
input{
    padding: 5px;
    border-radius: 10px;
    width: 15rem;
    text-align: center;
}